*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
/* theme start */

.fs-14{font-size: 14px;}
.fs-15{font-size:15px;}
.fs-16{font-size:16px;}
.fs-28{font-size: 28px;}
.fs-18{font-size:calc(18px + (18 - 16) * (100vw - 320px) / (1920 - 320));}
.fs-20{font-size:calc(16px + (20 - 16) * (100vw - 320px) / (1920 - 320));}
.fs-24{font-size:calc(24px + (24 - 20) * (100vw - 320px) / (1920 - 320));}
.fs-30{font-size:calc(30px + (30 - 25) * (100vw - 320px) / (1920 - 320));}
.fs-48{font-size:calc(48px + (48 - 40) * (100vw - 320px) / (1920 - 320));}
.fs-70{font-size: calc(40px + (70 - 40) * (100vw - 320px) / (1920 - 320));}
.fs-40{font-size:40px;}
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.text-prim{color: #E32325;}
.bg-prim{background-color: #E32325;}
.bg-sec{background-color:  #FFE6DF;}
.text-color{color: #FFE6DF;}
.bg-black{background-color: #0B0706 !important;}

.font-prim{font-family: 'Inter', sans-serif; font-style: normal;}
.font-sec{font-family: 'Roboto', sans-serif; font-style: normal;}
.index_banner_con {width:100%; height:calc(270px + (750 - 270) * (100vh - 320px) / (1920 - 320));  object-fit: cover;position: relative;}
.index_banner_con img{width: 100%;height: 100%;position: absolute; z-index: 100;  }
.overlay_banner{position: absolute; width:100%; height: 100%; z-index: 105;background: radial-gradient(363.2% 166.12% at 100.83% 132.46%, rgba(0, 0, 0, 0.00) 0%, #000 100%); }
.index_banner_con .banner-content{position: absolute; z-index: 150;left:10%;top:25%;}

/* theme end */
/* navbar */
footer .footer-logo,
header nav .navbar-brand{ height:82px; width: 222px;overflow: hidden;object-fit: cover;}
footer .footer-logo img,
header nav .navbar-brand img{height:100%; width:100%;}
/* navbar end */
.after-dash{position: relative;
    margin-left: 100px;}
.after-dash::before { content: ""; position: absolute;background-color: #000; height: 4px; width: 100px; top: 7px; left: -110px;}
.what-aboutus{height:500px; background-image: url('/img/bg-whatabout.png');background-repeat: no-repeat; position: relative;}
 .img-con1{top:70px;position: absolute;left: 270px;object-fit: cover;z-index: 100;}
 .img-con3{position: absolute; top:16px; z-index: 150; left:81px}
.what-aboutus .img-con3 img{width: 277px;height: 247px }
.what-aboutus .img-con1 img{height:350px; width:240px;}
.what-aboutus .img-con2{position:absolute; bottom: 20px;left:155px; z-index: 150;}
.what-aboutus .img-con2 img{width: 150px;height:150px;}
.our_supportcard .support-logo{width: 120px!important; height:25px !important;overflow: hidden; object-fit: cover;}
.our_supportcard .support-logo .logo{width:100%; height:100%; filter: grayscale(0);}
.we_do_con div:first-child{width:70px;}
.we_do_img-con{width: 480px;height: 658px; object-fit: cover; margin: auto; }
.we_do_img-con img{width: 100%; height:100%;}
/* campaign card start */
.campaign-card{width:370px;}
.campaign-card .campaignimg{width: 370px; height: 315px; object-fit: cover;}
.campaign-card .campaignimg  img{width:100%; height:100%;}
.campaign-content .campaign-heading{height:70px; width: 100%; overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap: break-word;}
.campaign-content .heart-con{width:23px; height:23px;object-fit: cover;}
.campaign-content .heart-con img{width: 100%; height: 100%;}
.ourprojectcard{width: 411px;height: 421px;overflow: hidden;object-fit: cover;cursor: pointer;}
.ourprojectcard img{width:100%; height: 100%;cursor: pointer;}
.ourprojectcard .ourpoject_overlay{opacity: 0.5; border-radius: 25px;background-color: #000;width: 100%;height: 100%;top:100%;}
.our_projectcontent{top:100%;}
.ourprojectcard:hover .ourpoject_overlay{top: 0%; transition: all ease-in-out 0.3s;}
.ourprojectcard:hover .our_projectcontent{top: 0%;transition: all ease-in-out 0.3s;}
.faq_img{width:100px;height:100px;object-fit: contain;border-radius: 50%;padding: 20px 30px; background-color: #F1592A; top:-50px;left:45%;}
.faq_img img{width: 100%;height:100%; border-radius: 50%;}
.custom_faq_con{border-radius: 25px;margin-top: 150px;}
/* .ourprojectcard img:hover  .ourpoject_overlay{top:0%} */
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: '\002B';
    font-size: 22px;

    border: 1px solid black;
    border-radius: 50%;
    padding-bottom: 32px;
    padding-right: 23px;
    padding-left: 7px;
    background-image:none;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    transition-behavior: normal;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: transform;
}
.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "\2212";
    transform: none;
}
.accordion-button:focus{border-color:none; box-shadow: none; background-color: none;}
.accordion-button:not(.collapsed) {color: black !important; background-color:  #FFE6DF!important; box-shadow: none;}
.contribution{width: 100%; height:387px;object-fit: cover;}
.contribution img{width: 100%; height:100%; border-radius: 25px;}
.contribution .overlay{width: 100%; height:100%; background-color: #000;opacity: 0.5; border-radius: 25px;}
.contribution .content{width: 100%; height:100%; display: flex; justify-content: center; flex-wrap: wrap;}
.contribution .content h5{width: 75%;height: 50px;}
/* donate page start */
.donate_banner{ width:100%; height: 500px;}
.donate_overlay{width: 100%; height: 100%; background-color: black; opacity: 0.7;}
.donate_card{width: 500px; height:500px;margin: auto; border-radius: 5px;}
.payment_amount label{width:100px; text-align:center;}
.payment_amount input[type="radio"]:checked ~ label,
.donate_type input[type="radio"]:checked ~ label{background-color: #fff;color: #f1592a !important;;border:1px solid #f1592a;}
.input-group .input-group-text,
.input-group input{padding: 10px; border: none; border-bottom: 2px solid #f1592a; }
.input-group input:focus{box-shadow: none;border-bottom: 2px solid #f1592a; }
/* donate page  end*/
@media only screen and (max-width: 600px) {
    .index_banner_con .banner-content{top:10%;left:5%;} 
}